/*-------*/
/* fonts */
/*-------*/

@font-face {
  font-family: 'Poiret One';
  src: url('../font/PoiretOne-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Lora';
  src: url('../font/Lora-VariableFont_wght.ttf') format('truetype');
}

/*-------*/
/* main */
/*-------*/

body {
  background-image: url('../img/main.png');
  background-size: auto 455px;
  font-family: 'Poiret One', cursive;
  overflow: hidden;
}

footer > .main,
header {
  padding: 8px 16px;
}

header {
  background-color: rgba(44, 44, 44, 0.7);
}

footer {
  background-color: rgba(44, 44, 44, 0.85);
}

footer > .main {
  display: flex;
}

header {
  display: flex;
  padding-bottom: 0;
}

img {
  display: inline-block;
  vertical-align: top;
}

main {
  height: 320px;
  border-bottom: 1px solid white;
  border-top: 1px solid white;
}

#logo {
  height: 50px;
  margin-right: auto;
}

#main-btn {
  border: 1px solid #ecd5ff;
  background-color: #ecd5ff;
  font-size: 26px;
  height: 60px;
  line-height: 60px;
  margin-left: auto;
  padding: 0 30px;
  width: 140px;
}

#main-btn.cancel {
  background-color: #2c2c2c;
  border-color: white;
  color: white;
  transition: background-color 0.3s;
}

#main-btn.cancel:hover {
  background-color: white;
  color: black;
}

#hamburger {
  padding-top: 0;
}

#hamburger .bar {
  background-color: white;
  margin-left: auto;
}

#error-alert {
  background-color: white;
  font-family: 'Lora', serif;
  padding: 16px;
}

#error-alert h2 {
  font-size: 22px;
  margin-bottom: 2px;
}

#error-msg {
  font-family: monospace;
  margin-top: 16px;
}

#menu {
  background-color: white;
  font-size: 30px;
  list-style: none;
  position: absolute;
  right: 0;
  width: 200px;
}

#menu button {
  display: block;
  height: 46px;
  line-height: 46px;
  padding-left: 16px;
  padding-right: 16px;
  text-align: center;
  transition: background-color 0.3s;
  width: 100%;
}

#menu button:hover {
  background-color: rgb(221, 221, 221);
}

#menu span {
  display: block;
}

#menu > li + li span {
  border-top: 1px solid #2c2c2c;
}

.fades {
  transition: opacity 0.3s;
  opacity: 1;
}

.fades.hidden {
  opacity: 0;
}

.removed {
  display: none;
}

/*--------------*/
/* loading info */
/*--------------*/

#loading-pct {
  color: white;
  font-size: 14px;
  height: 60px;
  line-height: 60px;
  margin-right: auto;
}

#loading-bar {
  background-color: white;
  height: 1px;
  width: 0%;
  transition: width 0.3s;
}

/*---------------------*/
/* hover.css overrides */
/*---------------------*/

.hvr-ripple-out {
  box-shadow: 0 0 1px #ecd5ff;
}
.hvr-ripple-out::before {
  border: #ecd5ff solid 6px;
}
